.head-section {
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgb(11, 116, 2) 47%,
      rgba(22, 9, 3, 1) 100%
    );
  }
  .logo {
    margin-left: 40px;
  }
  body {
    font-family: sans-serif;
  }
  a {
    color: #ffffff;
  }
  a:hover {
    text-decoration: none;
    color: #fff;
  }
  .nav-menu ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
  }
  .nav-menu > ul {
    display: flex;
  }
  .nav-menu > ul > li {
    position: relative;
    white-space: nowrap;
    padding: 15px 15px 15px 15px;
  }
  .nav-menu a {
    display: block;
    position: relative;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  .nav-menu > ul > li a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    color: #fff;
    text-decoration: none;
  
    left: 0;
    background-color: #fff;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out;
  }
  .nav-menu a:hover::before,
  .nav-menu li:hover > a::before,
  .nav-menu .active > a::before {
    visibility: visible;
    width: 100%;
  }
  
  .nav-menu ul {
    float: right;
  }
  .nav-menu ul li {
    display: inline-block;
    line-height: 40px;
  }
  
  /*--mobile navigation menu--*/
  
  .checkbtn {
    font-size: 25px;
    color: #fff;
    float: right;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
  }
  
  .toogle-bar {
    display: none;
  }
  
  #check {
    display: none;
  }
  @media (min-width: 600px) {
    .logo {
      font-size: 30px;
      padding-left: 30px;
    }
    nav-menu ul li a {
      font-size: 16px;
    }
  }
  @media (max-width: 768px) {
    .checkbtn #check {
      display: none;
    }
    .toogle-bar {
      display: flex;
      justify-content: flex-end;
    }
    ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background-color: black;
      top: 50px;
      left: 100%;
      text-align: center;
      transition: all 0.5s;
    }
    nav-menu ul li {
      display: block;
      margin: 50px;
      line-height: 30px;
    }
    nav-menu ul li a {
      font-size: 20px;
    }
    a:hover,
    a.active {
      background: none;
      color: bisque;
    }
    #check:checked ~ ul {
      left: 0%;
      display: none;
    }
  }
  